*
  box-sizing: border-box

body
  background: no-repeat url("../img/bg.png") $bg-dark
  background-position: 0 -400px
  background-size: contain
  //background-color: $bg-dark
  font-family: 'Gilroy-bold', sans-serif
  color: $light-text
  font-size: 18px
  line-height: 22px

.container
  max-width: 1760px
  margin: auto
  &-content
    max-width: 1462px
    margin: auto

.blog
  &-post
    margin-bottom: 200px
